.title {
  text-align: center;
  font-size: 48px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.nav {
  font-size: 24px;
  text-align: center;
}

.nav a {
  color: #0070f3;
  text-decoration: none;
}